.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

/* VIDEO BACKGROUND */
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.7);
}

/* OVERLAY */
.overlay {
  position: relative;
  background: rgba(18, 40, 75, 0.7);
  height: 100%;
  color: #bfb6ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TEXT */
.hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
}

/* SEARCH */
.search-box {
  margin-top: 25px;
}

.search-box input,
.search-box button {
  padding: 12px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

.search-box button {
  background: #406d61;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* REVIEW BAR */
.review-bar {
  background: linear-gradient(90deg, #12284b, #406d61);
  color: #bfb6ce;
  font-family: 'Roboto Slab', serif;
  padding: 15px 40px; /* thin height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.review-item {
  text-align: center;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  gap: 2px; /* 👈 controls spacing between text + number */
}

/* REMOVE extra spacing */
.review-item h3 {
  font-size: 22px;
  margin: 0; /* 👈 important */
  line-height: 1.1;
}

.review-item p {
  font-size: 13px;
  margin: 0; /* 👈 important */
  line-height: 1.1;
}

.review-item span {
  font-size: 15px;
  opacity: 0.8;
}



/* divider line */
.divider {
  width: 1px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
}

/* ABOUT */
.about {
  background: #bfb6ce;
  color: #12284b;
  padding: 50px;
  text-align: center;
}

/* SECTIONS */
.featured,
.categories {
  padding: 60px;
  text-align: center;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 220px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
}

.card p {
  margin-bottom: 10px;
}

/* HOVER EFFECT */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}