@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');

.site-header {
  background: #12284b;
  padding: 10px 20px;

  position: sticky;
  top: 0;
  z-index: 3000; /* 👈 HIGHER than overlay */
}

.site-header {
  background: #08143d;
  padding: 10px 20px;

  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT */
.nav-left {
  display: flex;
  gap: 15px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;

  color: white; 
  font-size: 20px;

  transition: transform 0.2s ease;
}

.icon-btn:hover {
  transform: scale(1.1);
}

.icon-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* CENTER */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  height: 70px;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

/* BOOK NOW BUTTON */
.book-btn {
  background: #08143d;
  border: 1px solid white;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  transition: 0.3s;
}

.book-btn:hover {
  background: #2f5148;
  transform: translateY(-2px);
}